body{
    background: linear-gradient(top, #c04848 2%, #480048 100%);
    background: -webkit-linear-gradient(top, #c04848 6%, #480048 100%);
    background: -moz-linear-gradient(top, #c04848 6%, #480048 100%);
    background: -o-linear-gradient(top, #c04848 6%, #480048 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-weight: 100;
    position: relative;
    font-family: 'Bree Serif', sans-serif;
    color: white;
}

nav.navbar{
    /*background: transparent !important;*/
    background: #191919;
    color: #fff;
    font-family: "Bree Serif";
    font-size: 1.25em;
}

.navbar-toggler {
    border-color: white !important;
} 

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
} 
.nav-item a:link, nav a:link {
    color: #fff;
}
.nav-item a:visited, nav a:visited {
    color: #fff;
}
.nav-item a:hover, nav a:hover {
    color: #fff;
}
#navResumeBtn{
    color:#fff;
    background-color: transparent;
}
svg{
    width:80%;
    margin: auto;
}

#coder{
    animation: dash 10s linear forwards;
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
}
@keyframes dash {
    to {
        stroke-dashoffset: 10;
    }
}
#colors{
    opacity: 0;
    animation: colorIn 5s 8s ease-out forwards;
}
@keyframes colorIn {
    from {opacity:0;}
    to {opacity: 0;}
}
@media only screen and (max-width: 600px) {
    svg {
        width: 80%;
    }
}

.vertical-center {
    min-height: 100%; /* Fallback for vh unit */
    min-height: 100vh;
    /* You might also want to use
                           'height' property instead.

                           Note that for percentage values of
                           'height' or 'min-height' properties,
                           the 'height' of the parent element
                           should be specified explicitly.

                           In this case the parent of '.vertical-center'
                           is the <body> element */

    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* Align the bootstrap's container vertically */
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    /* In legacy web browsers such as Firefox 9
       we need to specify the width of the flex container */
    width: 100%;

    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
       hence the bootstrap's container won't be aligned to the center anymore.

       Therefore, we should use the following declarations to get it centered again */
    -webkit-box-pack: center;
    -moz-box-pack: center;
}
.textColor{
    font-family: 'Bree Serif', serif;
    color: white;
    font-weight: 100;
}

.wrapper {
    margin-left: 5%;
    margin-top: 5%;
}
.wrapper h1 {
    font-size: 50px;
    margin-top: 0;
}
.wrapper h2 {
    margin-bottom: 0;
}
.wrapper span {
    display: inline-block;
    text-align: left;
    font-size: 26px;
    margin: 10px 0;
}
.wrapper img {
    width: 40px;
    margin: 80px 10px 0px 10px;
}
.wrapper a {
    color: white;
    margin: 20px;
}
.wrapper i {
    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;
}
.wrapper .social {
    position: relative;
    margin-top: 25px;
}

span.cursor {
    font-size: 35px;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@media (max-width: 768px) {
    .wrapper h1 {
        font-size: 34px;
    }
    .wrapper h3 {
        font-size: 28px;
    }
    .wrapper span {
        font-size: 22px;
    }
    .wrapper.social {
        text-align: center;
    }
    .wrapper.social i {
        font-size: 22px;
    }
    .wrapper.social a {
        margin: 5px;
    }
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* All Section Styles
/* -------------------------------------*/
section {
    padding: 50px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }
}

/* Introduction Styles
/* -------------------------------------*/
#introduction {
    text-align: center;
    color: #fff;
}

#introduction h1{
    font-family: 'Bree Serif', serif;
    font-size: 3rem;
    font-weight: 300;
    padding-bottom: 10px;
}
#introduction img {
    display: block;
    margin: 0 auto 20px;
}

#introduction .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: 'Bree Serif', serif;
    font-size: 2em;
    font-weight: 700;
}
 .intro {
    font-size: 1.75em;
    font-family: 'Roboto Mono for Powerline';
    font-weight: 150;
}

#introduction .intro-text .info {
    font-size: 1.5em;
    font-weight: 300;
    font-family: 'Bree Serif', serif;
    margin:5px;
    color: #000;
}
.info a{
    color: black;
}

#introduction .intro-text .cv {
    font-family: 'Bree Serif', serif;
    margin:5px;
    font-size: 1.50em;
    font-weight: 300;
}
#downloadResume{
    color:white;
    border-color: white;
}

@keyframes shakeThatBooty {
    33% {
        transform: rotateZ(10deg);
        -webkit-transform: rotateZ(10deg);
        -moz-transform: rotateZ(10deg);
        -o-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
    }
    67% {
        transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
        -moz-transform: rotateZ(-10deg);
        -o-transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(10deg);
        -webkit-transform: rotateZ(10deg);
        -moz-transform: rotateZ(10deg);
        -o-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
    }
}

@media(min-width:768px) {
    #introduction .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #introduction .intro-text .name {
        font-size: 4.75em;
    }

    #introduction .intro-text .intro {
        font-size: 1.5em;
    }

    #introduction .intro-text .info {
        font-size: 1.25em;
    }
}

/* About & Contact Styles
/* -------------------------------------*/
#about, #contact {
    background: #ebebeb;
}

.timeline {
    height: 100%;
    position: relative;
}
.timeline canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.timeline figcaption {
    font: 900 190% 'Bree Serif';
    text-transform: uppercase;
    -webkit-text-stroke: .25px;
}
.timeline h2 {
    font: 400 400% 'Bree Serif';
    padding-bottom: 100px;
    color: #b2cde9;
}
.timeline h6 {
    color: #0090F5;
    font: 400 95% 'Bree Serif';
}
.timeline ul, .timeline p, .timeline ol {
    font: 200 95% 'Bree Serif';
    padding: 3px 0 20px 0;
    color: #fff;
    text-align: justify;
    width: 70%;
}
.timeline ol {
    list-style: disc;
    margin-top: -20px;
    padding-left: 40px;
}
.timeline figure {
    float: right;
    width: 100%;
}
.timeline article {
    position: relative;
    width: 38%;
    overflow: hidden;
    margin-bottom: 100px;
}
.timeline article:first-of-type {
    float: left;
    text-align: right;
}
.timeline article:first-of-type p, .timeline article:first-of-type figure {
    float: right;
}
.timeline article:last-of-type {
    float: right;
}
.timeline article:last-of-type h2 {
    color: #c6e0aa;
}
.timeline article:last-of-type h6, .timeline article:last-of-type a {
    color: #40aa00;
}
.timeline article:last-of-type a:hover {
    color: #95D40D;
}
#projects {
    text-align: center;
    color: #fff;
}
#projects h1 {
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 3rem;
    font-weight: 300;
    padding-bottom: 10px;
}

#projects h4 {
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-weight: 300;
    padding-bottom: 20px;
    margin: 0 0 20px 0;
}

.portfolio-item{
    border: 1px solid white;
    margin: 0 0 40px 0;
    right: 0;
    opacity:0.5;
}
.portfolio-item h2{
    font-family: 'Bree Serif';
    color:#000;
    font-size:1.5em;
    font-weight: 200;
    padding:5px 0px;
    border-bottom: 1px solid white;
}

.portfolio-item .OpenInGITHUB{
    border: 1px solid white;
    display: inline-block;
    margin: 0 10px 10px 10px;
    padding: 5px;
    visibility:hidden;
}

.portfolio-item:hover{
    opacity: 1;
}
.portfolio-item:hover .OpenInGITHUB{
    visibility: visible;
}

.portfolio-item:hover .OpenInGITHUB a{
    color:white;
}

#skillsection {
    margin-top: 50px;
    text-align: center;
    color: #fff;
    font-family: 'Bree Serif', serif;
}
#skillsection h1 {
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 3rem;
    font-weight: 300;
    padding-bottom: 10px;
}
.skillsection .skill-column {
    width: 50%;
    float: left;
}
@media (max-width: 1000px) {
    .skills .skill-column {
        width: 100%;
    }
}
.skill-column .skill-label {
    font-size: 1.25em;
    text-align: center;
    font-family: "Roboto Mono for Powerline";
    color: #fff;
}
.skill-column .skill-icons {
    text-align: center;
}
.skill-column .skill-icons span {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    background: #cccccc;
    margin: 10px 5px 20px 5px;
    font-weight: 700;
}
#contactForm {
    text-align: center;
    color: #fff;
    font-family: 'Bree Serif', serif;
    max-height: 715px;
}

#contactForm .container {
    padding-top: 50px;
    padding-bottom: 50px;
}
#contactForm h1{
    display: block;
    font-family: 'Bree Serif', serif;
    font-size: 3rem;
    font-weight: 300;
    padding-bottom: 10px;
}
.contact-form {
    padding: 0px 15px 0px 15px;
}
.contact-form input, .contact-form textarea{
    width: 50%;
    margin: 0 auto;
}


.form-control {
    border: 2px solid rgba(0, 0, 0, 0.27);
    height: 3em;
    font-size: 16px;
    padding: 1em;
    margin: .5em 0 2em 0;
    font-weight: bold;
}

textarea {
    min-height: 10em;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}

#submit {
    outline: none;
    padding: 12px;
    min-width: 200px;
    border-radius: 2px;
    border: 2px solid #FF6363;
    text-align: center;
    font-size: 1em;
    color: #FF6363;
    background-color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}



#submit:hover {
    background-color: #FF6363;
    color: white;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.footer {
    width: 100%;
    height: 70px;
    color: #ecf0f1;
    margin-bottom: -24px;
    position: relative;
    background: #191919;
    display: inline-block;
}
.footer h5 {
    left: 20px;
    bottom: 14px;
    font-size: 1.3em;
    position: absolute;
    display: inline-block;
}

.socialFooter {
    right: 10px;
    bottom: 6px;
    margin-right: 10px;
    position: absolute;
    display: inline-block;
    background: rgba(0, 0, 0, 0.1);
}
.socialFooter i {
    color: #FBE9E7;
    font-size: 24px;
    padding: 15px 20px;
    transition: 150ms ease-in-out;
}
.socialFooter i:hover {
    background: #00f0a8;
    transform: scale(1.08);
}

@media only screen and (max-width: 700px) {
    .footer {
        height: 136px;
    }
    .footer h5 {
        left: 16px;
        bottom: 78px;
    }

    .socialFooter {
        left: 6px;
        right: auto;
    }
}

.contact_us_small_text{
    color: white;
    font-size: 30px;
    margin: 30px 10px 10px 10px;
    word-spacing: 5px;
    font-family:'Bree Serif', serif;';
}

.contact_us_small_text a:link{
    color:#fff;
}